.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.text-area {
  color: #fff;
  padding: 35px 0;
  margin: 0 auto;
  text-align: justify;
  width: 70%;
  font-size: 25px;
}
.button-section {
  display: flex;
  justify-content: center;
}

.button {
  width: 500px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  transition: 0.2s;
  margin: 25px 35px;
}

.button:hover {
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
